<div class="container-fluid">
    <h2 class="mt-3">Mis tareas</h2>
    <div class="cards-container">
        @for (task of paginatedTasks; track $index) {
        <mat-card>
            <mat-card-header class="mb-3">
                <mat-card-title>{{task.title}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row description">
                    <p class="col-10">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est consequatur tempore delectus
                        sequi in ipsum et accusantium quis nobis ipsam atque quod error quibusdam, consectetur minus
                        rerum architecto, nihil sed.
                    </p>
                    <mat-icon class="col" (click)="deleteTask(task)">delete_outlined</mat-icon>
                </div>
            </mat-card-content>
        </mat-card>
        }
    </div>
    <div class="row justify-content-center mb-3">
        <button class="add-task" (click)="dialogAction(AddTaskFormComponent)">Añadir tarea</button>
    </div>
    <div class="row px-5 d-flex justify-content-between">
        <div class="col">
            <button (click)="prevPage()" class="page-button"><mat-icon>arrow_backward</mat-icon></button>
        </div>
        <div class="col d-flex justify-content-end">
            <button (click)="nextPage()" class="page-button"><mat-icon>arrow_forward</mat-icon></button>
        </div>
    </div>
</div>